torch==2.7.1
-f https://download.pytorch.org/whl/cpu
langgraph
langchain
langchain-community
langchain_experimental
langchain-google-genai
langchain-openai
langchain-pinecone
langchain-text-splitters
langchain_docling
python-dotenv
fastapi
motor
PyMuPDF
pytz
loguru
uvicorn[standard]
python-multipart
pydantic[email]
python_jose==3.3.0
python-docx
docx2txt
PyJWT==2.8.0
moviepy==1.0.3
google-cloud-texttospeech
Pillow
requests
aiohttp
asyncio
pika
azure-storage-blob
azure-identity